/*resetar*/

body,
p,
h1,
ul,
li,
blockquote {
    padding: 0px;
    margin: 0px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/*definir grid*/

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "nav nav " "seachRow seachRow " "marvelCharacters description ";
}


/*resultado da pesquisa*/

.seachHero {
    grid-area: seachRow;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.seachHero img {
    max-width: 260px;
    min-width: 60px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    padding: 10px;
}


/*header do body*/

form {
    margin-right: 20px;
}

.header {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px;
    align-items: center;
    background: linear-gradient(135deg, rgb(22, 22, 22), #252525);
}


/*barra de personagens*/

.marveCharacters ul {
    grid-area: marvelCharacters;
    height: 360px;
    overflow-y: scroll;
    cursor: pointer;
    margin: 50px;
}

.marveCharacters ul::-webkit-scrollbar {
    width: 15px;
    border-radius: 5px;
}

.marveCharacters ul::-webkit-scrollbar-thumb {
    background: rgb(65, 64, 63);
    border: 2px solid #ffffff;
    border-radius: 5px;
}


/*stilo da descrição e card dos pensonagens*/

.description {
    grid-area: description;
}

.description section {
    margin-top: 50px;
    padding: 15px;
    display: none;
}

.description section.active {
    display: block;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.card {
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    max-width: 260px;
    min-width: 60px;
    margin: 40px;
}


/*imagens*/

.card img {
    max-width: 250px;
}

.logo {
    max-width: 80px;
}

.marveCharacters img {
    max-width: 260px;
    min-width: 60px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgb(44, 44, 44, 0.15);
    padding: 10px;
    transition: 0.2s ease-in-out;
}

.marveCharacters li img:hover {
    background: rgba(48, 47, 47, .15);
}


/*responsividada
adequando a telas menores de 1220px*/

@media (max-width: 1200px) {
    .description section.active {
        grid-template-columns: 1fr;
    }
    .marveCharacters ul {
        height: 450px;
    }
}


/*adequando a telas menores que 700px*/

@media (max-width: 700px) {
    body,
    .seachHero {
        display: block;
    }
    .seachHero img {
        margin: 10px;
    }
    .marveCharacters ul {
        display: flex;
        margin: 10px;
        height: 280px;
    }
    .marveCharacters ul li {
        flex: 1 0 60px;
    }
    .marveCharacters {
        overflow-x: auto;
    }
    .description section {
        margin-top: 10px;
    }
}