/*resetar*/

body,
p,
h1,
ul,
li,
a {
    padding: 0px;
    margin: 0px;
    font-family: Nunito, Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    background: rgba(111, 128, 144, 0.116);
}

.header {
    padding: 15px;
    align-items: center;
    background: linear-gradient(135deg, rgb(22, 22, 22), #2b2a2a);
}

.header_btn button {
    margin-left: 10px;
}

.logo {
    width: 85px;
}

.inicio img {
    width: 100%;
}

.marveCharacters ul li {
    background-color: rgba(111, 128, 144, 0.116);
}

.marvel-row {
    display: flex;
    overflow-x: auto;
}

.marvel-row img {
    margin: 10px 5px 10px 5px;
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 5px;
}

.description section {
    display: none;
}

.description section.active {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.description section.active img {
    width: 300px;
}

footer {
    background: linear-gradient(135deg, rgb(22, 22, 22), #2b2a2a);
    color: white;
    font-size: 20px;
}

@media(max-width: 590px) {
    .description section.active {
        grid-template-columns: 1fr;
    }
    .header_btn button {
        margin-left: 5px;
        font-size: 10px;
        padding: 5px;
        margin: 0;
    }
}