.seachHero {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.seachHero img {
    width: 300px;
}

.seachHero_name {
    padding: 25px;
}

.seachHero_image {
    padding: 25px;
    margin-bottom: 40px;
}

@media(max-width: 590px) {
    .seachHero {
        display: block;
    }
    .seachHero img {
        width: 200px;
    }
}